.background {
    background-color: salmon;
}

.title {
    color: white;
    font-size: 30px;
    text-align: center;

}

.winnerText {
    color: white;
    text-align: center;
    font-size: 30px;
}

.scoreBoardFlex {
    display: flex;
    margin: 0;
    justify-content: center;   
}

.scoreBoard {
    border: 5px solid white;
    border-radius: 15px;
    font-size: 100px;
    color: white;
    margin: 0;
    margin-left: 1em;
    margin-right: 1em;
}

.scoreBoardText {
    font-size: 30px;
    margin-left: 3em;
    margin-right: 2em; 
    color: white;
}

.buttonFlex{
    display: flex;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;

}

.button{
    background-color: transparent;
    border: 0;
    margin: 20px;
    height: 250px;
    width: 250px;
}

.button:hover {
    height: 300px;
    width: 300px;
    border: 4px solid white;
    border-radius: 5px;
}


.img{
    align-self: center;
    height: 250px;
    width: 250px;
}


