.background {
    background-color: salmon;
}

.title {
    color: white;
    font-size: 30px;
    text-align: center;

}

.winnerText {
    color: white;
    text-align: center;
    font-size: 30px;
}


.scoreBoardFlex {
    display: flex;
    margin: 0;
    justify-content: space-around;

    
}
.scoreBoard {
    border: 5px solid white;
    font-size: 50px;
    color: white;
    margin: 0px;
}
.buttonFlex{
    display: flex;
    flex: 1 1 auto;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;

}

.button{
    background-color: transparent;
    border: 1;
    margin: 20px;
}

.button:hover {
    height: 300px;
    width: 300px;
}

.img{
    align-self: center;
    height: 250px;
    width: 250px;
}


